In [1]:
import pandas as pd
from sklearn import preprocessing

In [6]:
df = pd.read_csv("../ex4_2.csv")

In [7]:
df.head()

   R1  R2  R3  R4  R5  R6  R7  R8  R9  R10  R11  R12
0   0   1   0   0   0   1   1   1   1    1    1    1
1   1   1   1   1   1   1   0   1   1    0    0    0
2   1   0   0   0   0   0   0   0   0    0    1    1
3   1   0   0   1   1   1   0   0   1    0    1    0
4   0   0   1   0   1   1   1   0   0    1    0    0

In [14]:
df.R1.value_counts()

1    253
0    247
Name: R1, dtype: int64

In [11]:
df.nom_0.value_counts()

AttributeError: 'DataFrame' object has no attribute 'nom_0'

In [12]:
df.ord_2.value_counts()

AttributeError: 'DataFrame' object has no attribute 'ord_2'

In [9]:
df.day.value_counts()

3.0    113835
5.0    110464
6.0     97432
7.0     86435
1.0     84724
2.0     65495
4.0     23663
Name: day, dtype: int64

In [10]:
df.month.value_counts()

8.0     79245
3.0     70160
5.0     68906
12.0    68340
6.0     60478
7.0     53480
1.0     52154
11.0    51165
2.0     40700
9.0     20620
4.0     14614
10.0     2150
Name: month, dtype: int64

In [11]:
df.target.value_counts()

0    487677
1    112323
Name: target, dtype: int64

In [35]:
lbl = preprocessing.OneHotEncoder()
lbl.fit(df[["bin_0", "bin_1"]].fillna(-1).values)

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

In [36]:
lbl.transform(df[["bin_0", "bin_1"]].fillna(-1))

<600000x6 sparse matrix of type '<class 'numpy.float64'>'
	with 1200000 stored elements in Compressed Sparse Row format>